body {
    margin: 0;
    padding: 5px 10px;
    font-family: 'Schoolbell', cursive;
    background: url(images/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.title {
    margin-top: 20px;
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #eeeeee;
    text-shadow: 5px 5px 5px #313638;
    background-color: #936c46;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 4px 2px #313638;
    padding: 10px 25px;
    max-width: 300px;
    min-height: 50px;
}

.rules {
    font-size: 20px;
    text-align: center;
    font-weight: ;
    margin: 0;
}

.buttons-container {
    flex: 1;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 340px;
    
}

#rock, #paper, #scissors{
    border-radius: 10px;
}

#rock:active, #paper:active, #scissors:active {
    border: rgb(0, 225, 255)2px solid;

}
 #rock:hover, #paper:hover, #scissors:hover {
    transform: scale(1.2);
}



img {
   height: 60px;
   width: 50px;
   padding: 5px;
   cursor: pointer;
}


#playerscore, #computerscore {
    font-size: 28px;
    font-weight: 600;
    text-shadow: 3px 3px 15px #eeeeee;
    border-bottom: 4px solid #313638;
    color: #313638;
    max-width: 155px;
    margin-top: 15px;
}

.result {
    font-size: 19px;
    font-weight: ;
    text-shadow: 2px 2px 0px #313638;
    color: #eeeeee;
    background: #936c46;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 4px 2px #313638;
    max-width: 340px;
    padding: 0 8px;
}

#play-again {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px px #313638;
    background: #eeeeee;
    color: #936c46;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    box-shadow: 3px 3px #936c46;
    max-width: 200px;
    cursor: pointer;
}

#play-again:hover {
    border: rgb(0, 225, 255) 2px solid;
    transform: scale(1.2);
}

.winner {
    font-size: 15px;
    background: #eeeeee;
    font-weight: ;
    border-radius: 10px;
    color: #936c46;
    box-shadow: 3px 3px #936c46;
    text-shadow: 1px 1px 90px #313638;
    text-align: center;
    padding: 0 10px;
    max-width: 340px;
}

.container-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }

.footer {
    margin-top: 0;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 0px 4px white;
    color: #313638;
}